.sidebar:not(.theme-dark *) {
    background: #303540!important
}

.nav-bar {
    background: #303540!important
}

.page__content-wrapper:not(.theme-dark *) {
    background: #e6e8ec!important
}

.sliding-panel__header:not(.theme-dark *) {
    background: #e6e8ec!important
}

.sliding-panel__body:not(.theme-dark *) {
    background: #e6e8ec!important
}

.argo-button--base:not(.theme-dark *) {
    color: #FFFFFF!important;
    background: #64747e!important
}

.argo-button--base:not(.theme-dark *):hover {
    opacity: 0.8!important
}

.argo-button--base:not(.theme-dark *):focus {
    border-color: #FFFFFF!important
}

.argo-button--base-o:not(.theme-dark *) {
    color: #64747e!important;
    box-shadow: inset 0 0 0 1px #64747e!important
}

.argo-button--base-o:not(.theme-dark *):hover {
    color: #fff!important;
    background-color: #64747e!important
}

.argo-button--base-o:not(.theme-dark *):focus {
    color: #fff!important;
    background-color: #64747e!important
}

.top-bar__title:not(.theme-dark *) {
    color: #0e62bb!important
}

a:not(.theme-dark *) {
    color: #0e62bb!important
}

.settings-overview__redirect-panel__title:not(.theme-dark *) {
    color: #0e62bb!important
}

.selected:not(.theme-dark *) {
    color: #0e62bb!important
}

.tabs__indicator:not(.theme-dark *) {
    background: #0e62bb!important
}